<div class="footer">

  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <img alt="Lotu" src="https://www.lotu.de/images/gallery/logos/lotu_5a_website.png" class="img-fluid" width="100">
          <p>Lorem ipsum is simply dummy text of printing and typesetting industry</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

          <ul>
            <h3>Quick Links</h3>
            <li><a href="#">1 bis 2 Tage Lieferzeit</a></li>
            <li><a href="#">Kostenloser Versand</a></li>
            <li><a href="#">Kostenlose Retoure</a></li>
          </ul>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

          <ul>
            <h3>Contact us</h3>
            <li><a href="#">Versand</a></li>
            <li><a href="#">Retoure</a></li>
            <li><a href="#">Zahlungsarten</a></li>
          </ul>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

          <ul>
            <h3>Rechtliches</h4>
            <li><a href="{{ urls.cancellationRights }}">Widerrufsrecht</a></li>
            <li><a href="/documents/widerrufsform/widerrufsformular.pdf">Widerrufsformular</a></li>
            <li><a href="{{ urls.legalDisclosure }}">Impressum</a></li>
            <li><a href="{{ urls.privacyPolicy }}">Datenschutzerklärung</a></li>
            <li><a href="{{ urls.gtc }}">AGB</a></li>
            <li><a href="{{ urls.contact }}">Kontakt</a></li>
          </ul>
        </div>
        <div class="copyright text-xs-center m-y-1">
          <small>&copy; Copyright {{ "now" | date("Y") }} | {{ trans("Ceres::Template.footerAllRightsReserved") }}</small>
        </div>

      </div>
  </div>

</div>
