<div class="footer">

  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <img alt="Lotu" src="https://www.lotu.de/images/gallery/logos/lotu_5a_website.png" class="img-fluid" width="60">
          <p>Lorem ipsum is simply dummy text of printing and typesetting industry</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

          <ul>
            <h4>Quick Links</h4>
            <li>1 bis 2 Tage Lieferzeit</li>
            <li>Kostenloser Versand</li>
            <li>Kostenlose Retoure</li>
          </ul>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

          <ul>
            <h4>Contact us</h4>
            <li>FAQ</li>
            <li>Give us Feedback</li>
            <li>Contact US</li>
          </ul>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

          <ul>
            <h4>Rechtliches</h4>
            <li><a href="{{ urls.cancellationRights }}">Widerrufsrecht</a></li>
            <li><a href="{{ urls.cancellationForm }}">Widerrufsformular</a></li>
            <li><a href="{{ urls.legalDisclosure }}">Impressum</a></li>
            <li><a href="{{ urls.privacyPolicy }}">Datenschutzerklärung</a></li>
            <li><a href="{{ urls.gtc }}">AGB</a></li>
            <li><a href="{{ urls.contact }}">Kontakt</a></li>
          </ul>
        </div>
      </div>
  </div>

</div>
